<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<div class = "offset1">
<head>
  <title>
  	<% if @title then %>
  		<%= @title %>
  	<% else %>
  		EDM Site
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">EDM</a>
    <ul class="nav">
      <li class="active"><a href="http://localhost:3000/homepage/home/">Home</a></li>
      <li><a href="http://localhost:3000/festivals/home/">Festivals</a></li>
       <li><a href="http://localhost:3000/pics/home/">Photos</a></li>
        <li><a href="music/home">Music</a></li>
    </ul>
  </div>
</div>
<body>
	<div class="header"></div>
	<h1>YAY EDM!!!!</h1>
	<hr/>
	<div class="headerSpace"></div>
	<% if session[:user] != nil %>
		<div> Hi <%= User.find(session[:user]).first_name%>! <a href="/users/logout">logout</a> </div>
	<%else%>
		<div><a href="/users/login">login</a></div>
	<%end%>
	<div><%=flash[:notice]%></div>
	<%= yield %>
</body>
</div>
</html>