<h1>Select Your Festival</h1>

<% @festivals.each do |festival| %>
	<li class="span4">
		<div class "thumbnail">
			<% if festival.photo != nil then %>
				<img class = "pic" src="/images/<%= festival.photo.file_name %>" alt="<%= festival.photo.file_name%>"/>
			<% else %>
				<img class = "pic" src="/images/default.jpg" alt="default"/>
			<% end %>
			<div><%=festival.festival_name%></div>
			<div><%=festival.start_date%></div>
			<div><%=festival.location%></div>
		</div>
	</li>
<%end%>