<%= form_for(@newFestival, :html=>{:multipart => true}, :url => {:action => :createFestival}) do |form| %>
	<%= label_tag(:festival_name, "Festival name: ") %><%= form.text_field :festival_name%>
	<br><%= label_tag(:start_date, "Date:") %>
	<%= form.text_field :start_date%><br/>
	<br><%= label_tag(:duration, "Duration: ") %>
	<%= form.text_field :duration%></br>
	<br><%= label_tag(:location, "Location: ") %>
	<%= form.text_field :location%></br>
	<%= form.submit "Submit"%>
<% end %>




<% @festivals.each do |festival| %>
	<div><%=festival.festival_name%></div>
	
<%end%>